.neonFont {
  font-family: 'BeautySchoolDropout', sans-serif;
  font-size: 4rem;
}

.neon {
  text-align: center;
  animation: pulsate 1.5s infinite alternate;  
  border: 0.2rem solid rgb(var(--k-color-brand-text));
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem rgb(var(--k-color-brand-text)),
              0 0 .2rem rgb(var(--k-color-brand-text)),
              0 0 2rem rgb(var(--k-color-primary)),
              0 0 0.8rem rgb(var(--k-color-primary)),
              0 0 2.8rem rgb(var(--k-color-primary)),
              inset 0 0 1.3rem rgb(var(--k-color-primary));
  color: rgb(var(--k-color-brand-text));
  text-shadow:
    0 0 7px rgb(var(--k-color-brand-text)),
    0 0 10px rgb(var(--k-color-brand-text)),
    0 0 21px rgb(var(--k-color-brand-text)),
    0 0 42px rgb(var(--k-color-primary)),
    0 0 82px rgb(var(--k-color-primary)),
    0 0 92px rgb(var(--k-color-primary)),
    0 0 102px rgb(var(--k-color-primary)),
    0 0 151px rgb(var(--k-color-primary));
}


@keyframes pulsate {
  100% {
      text-shadow:
      0 0 4px rgb(var(--k-color-brand-text)),
      0 0 11px rgb(var(--k-color-brand-text)),
      0 0 19px rgb(var(--k-color-brand-text)),
      0 0 40px rgb(var(--k-color-primary)),
      0 0 80px rgb(var(--k-color-primary)),
      0 0 90px rgb(var(--k-color-primary)),
      0 0 100px rgb(var(--k-color-primary)),
      0 0 150px rgb(var(--k-color-primary));
  }
  
  0% {
    text-shadow:
    0 0 2px rgb(var(--k-color-brand-text)),
    0 0 4px rgb(var(--k-color-brand-text)),
    0 0 6px rgb(var(--k-color-brand-text)),
    0 0 10px rgb(var(--k-color-primary)),
    0 0 45px rgb(var(--k-color-primary)),
    0 0 55px rgb(var(--k-color-primary)),
    0 0 70px rgb(var(--k-color-primary)),
    0 0 80px rgb(var(--k-color-primary));
  }
}

@media screen and (prefers-reduced-motion) { 
  .neon {
    animation: none;
  }
}