@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BeautySchoolDropout';
  src: url('./fonts/BeautySchoolDropout.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CrimsonRoman';
  src: url('./fonts/CrimsonRoman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'CrimsonRoman', sans-serif;
}

a > span > span {
  font-family: 'BeautySchoolDropout', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
}
